<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <div th:fragment="modalUpload" class="modal fade" id="modalUpload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Загрузка файла</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="file" id="upload" name="upload" accept=".csv,.xls,.xlsx" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnUploadPerform">Загрузить</button>
                    <button type="button" class="btn btn-secondary">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>