.crslImg {
    width: 100%;
}

body {
    padding-bottom: 30px;
}

.admin-card-short {
    height: 290px !important;
    width: 35rem !important;
}

.admin-card-long {
    height: 100% !important;
    width: 35rem !important;
}

.admin-card-short .card-body {
    overflow-y: auto;
}

.admin-card-long .card-body {
    overflow-y: auto;
}

.list-group-item:hover {
    background: #a2beff;
    transition: .6s;
}

.list-group-item {
    transition: .6s;
}

.li-selected {
    background: #8caeff !important;
}